<%- include('../partials/header', {title: 'Home | Oasis Management Company'}) %>

 
<div class="page-wrapper">
	
    <!-- Preloader -->
    <div class="preloader"></div>
	<!-- End Preloader -->
 	
 	<%- include('../partials/navbar') %>
	
	
	<%- include('../components/sliders') %>

	<%- include('../components/about') %>

	<%- include('../components/facts') %>
	
	
	<%- include('../components/services') %>
	

	<%- include('../components/projects') %>

	
		
	<!-- CTA One -->
	<!-- <section class="cta-one">
		<div class="auto-container">
			<div class="d-flex justify-content-between align-items-center flex-wrap">
				<div class="left-box">
					<h3 class="cta-one_heading">Looking for the Best IT Business Solutions?</h3>
					<div class="cta-one_text">As a app web crawler expert, We will help to organize.</div>
				</div>
				<div class="right-box">
					<a class="cta-one_btn theme-btn" href="contact.html">get a quote</a>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End CTA One -->

<%- include('../components/partners') %>


<%- include('../partials/footer') %>